.pctImg{
width: 100%;
height: auto;
}
.imgDiv{
  width:30%
  height:300px;
  padding:5px; 
}

.title{
   background-color: black;
   overflow: hidden;
   text-align: center;
}

.navbar-brand{
   font-size: 50px;
   color: white;
}

.title p{
   font-size: 24px;
   color: white
}

.imgDiv{
	width:auto;
	height:auto;
	position:relative;
	transition:.3s;
	margin:4px;
}
  
.imgDiv img{
	width:100%;
	height:100%;
	transition:.3s;
	border-radius:4px;
}
  
.imgDiv:hover img{
	filter:blur(2px) brightness(60%);
	box-shadow:0 0 16px black;
}
   
.imgDiv h1{
   position:absolute;
   z-index:1;
   top:50%;
   width:100%;
   text-align:center;
   color:#fff;
   opacity:0;
   transition:.3s;
   font-size: 25px;
}
  
  
.imgDiv:hover h1{
   opacity:1;
}


.buttons{
	display: block;
    margin: 0 auto;
}

.heart{
  width:30px;
  height:30px;
  display: block;
  margin: 0 auto;
}

.row{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 33% 33% 33%;
  margin: auto;
}

.column{
  background-color: #4d0000;
  color: red;
  border-radius: 3px; //adjust
  padding: 20px;
  font-size: 90%; //adjust
  margin: 3px;
  border: 3px;
  border-style: solid;
  border-color: white;
}

/*test*/

.title a {
  float: center;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */

.dropdown {
	text-align: center;
	overflow: hidden
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #737373;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #737373;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #990000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 5px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

* {
    box-sizing: border-box;
}